@import-normalize;
@import 'vendor/fonts.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(to bottom, #DAD299, #B0DAB9);

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
